!!!
%html
  %head
    %title Movie Robot
    %link(rel="stylesheet" href="style/screen.css")
    %link(rel="stylesheet" href="style/fancypants.css")
    %link(rel="stylesheet" href="style/bootstrap.css")
    %link(rel="stylesheet" href="style/bootstrap-responsive.css")
    %script(src="js/vendor/modernizr-1.6.min.js")
    %script(src="js/vendor/jquery-1.5.1.min.js")
    %script(src="js/vendor/underscore.js")
    %script(src="js/vendor/backbone.js")

  %body
    %h1 Films

    - @bigrows.each do |bigrow|
      .row-fluid
        - bigrow.contents.each do |big|
          .span6
            - if big.single?
              =big.src
            - else
              - 2.times do
                .row-fluid
                  - big.contents.each do |medium|
                    .span6
                      - if medium.single?
                        =medium.src
                      - else
                        - 2.times do
                          .row-fluid
                            - medium.contents.each do |small|
                              .span6
                                =small.src


